<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Conexion_DB" connectionString="Data Source=DESKTOP-BV20C88\SQLEXPRESS;Initial Catalog=DB_Sistema_de_Ventas;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Capa_Presentacion.Properties.Settings.DB_Sistema_de_VentasConnectionString"
   connectionString="Data Source=DESKTOP-BV20C88\SQLEXPRESS;Initial Catalog=DB_Sistema_de_Ventas;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>